.animated-1 {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;

/* -Moz Syntax */
  -moz-animation-name: rotate;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -moz-transition-timing-function: ease-in-out;

/* -O Syntax */
  -o-animation-name: rotate;
  -o-animation-duration: 10s;
  -o-animation-iteration-count: infinite;
  -o-transition-timing-function: ease-in-out;

/* Regular Syntax */
  animation-name: rotate;
  animation-duration: ;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

.animated-2 {
  -webkit-animation-name: rotate-neg;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;

/* -Moz- Syntax */
  -moz-animation-name: rotate-neg;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-transition-timing-function: ease-in-out;

/* -O Syntax */
  -o-animation-name: rotate-neg;
  -o-animation-duration: 15s;
  -o-animation-iteration-count: infinite;
  -o-transition-timing-function: ease-in-out;

/* Regular Syntax */
  animation-name: rotate-neg;
  animation-duration: ;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

.animated-3 {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;

/* -Moz- Syntax */
  -moz-animation-name: rotate;
  -moz-animation-duration: 12s;
  -moz-animation-iteration-count: infinite;
  -moz-transition-timing-function: ease-in-out;

/* -O Syntax */
  -o-animation-name: rotate;
  -o-animation-duration: 12s;
  -o-animation-iteration-count: infinite;
  -o-transition-timing-function: ease-in-out;

/* Regular Syntax */
  animation-name: rotate;
  animation-duration: ;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

.animated-4 {
  -webkit-animation-name: rotate-neg;
  -webkit-animation-duration: 19s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;

/* -Moz- Syntax */
  -moz-animation-name: rotate-neg;
  -moz-animation-duration: 19s;
  -moz-animation-iteration-count: infinite;
  -moz-transition-timing-function: ease-in-out;

/* -O Syntax */
  -o-animation-name: rotate-neg;
  -o-animation-duration: 19s;
  -o-animation-iteration-count: infinite;
  -o-transition-timing-function: ease-in-out;

/* Regular Syntax */
  animation-name: rotate-neg;
  animation-duration: ;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

@-webkit-keyframes rotate {
  0% {-webkit-transform: rotate(0deg);}
  1% {-webkit-transform: rotate(90deg);}
  25% {-webkit-transform: rotate(90deg);}
  26% {-webkit-transform: rotate(180deg);}
  50% {-webkit-transform: rotate(180deg);}
  51% {-webkit-transform: rotate(270deg);}
  75% {-webkit-transform: rotate(270deg);}
  76% {-webkit-transform: rotate(360deg);}
  100% {-webkit-transform: rotate(360deg);}

/* -Moz Syntax */
  0% {-moz-transform: rotate(0deg);}
  1% {-moz-transform: rotate(90deg);}
  25% {-moz-transform: rotate(90deg);}
  26% {-moz-transform: rotate(180deg);}
  50% {-moz-transform: rotate(180deg);}
  51% {-moz-transform: rotate(270deg);}
  75% {-moz-transform: rotate(270deg);}
  76% {-moz-transform: rotate(360deg);}
  100% {-moz-transform: rotate(360deg);}

/* -O Syntax */
  0% {-o-transform: rotate(0deg);}
  1% {-o-transform: rotate(90deg);}
  25% {-o-transform: rotate(90deg);}
  26% {-o-transform: rotate(180deg);}
  50% {-o-transform: rotate(180deg);}
  51% {-o-transform: rotate(270deg);}
  75% {-o-transform: rotate(270deg);}
  76% {-o-transform: rotate(360deg);}
  100% {-o-transform: rotate(360deg);}

/* Regular Syntax */
  0% {transform: rotate(0deg);}
  1% {transform: rotate(90deg);}
  25% {transform: rotate(90deg);}
  26% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  51% {transform: rotate(270deg);}
  75% {transform: rotate(270deg);}
  76% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}

}

@-webkit-keyframes rotate-neg {
  0% {-webkit-transform: rotate(0deg);}
  1% {-webkit-transform: rotate(-90deg);}
  25% {-webkit-transform: rotate(-90deg);}
  26% {-webkit-transform: rotate(-180deg);}
  50% {-webkit-transform: rotate(-180deg);}
  51% {-webkit-transform: rotate(-270deg);}
  75% {-webkit-transform: rotate(-270deg);}
  76% {-webkit-transform: rotate(-360deg);}
  100% {-webkit-transform: rotate(-360deg);}

/* -Moz Syntax */
  0% {-moz-transform: rotate(0deg);}
  1% {-moz-transform: rotate(-90deg);}
  25% {-moz-transform: rotate(-90deg);}
  26% {-moz-transform: rotate(-180deg);}
  50% {-moz-transform: rotate(-180deg);}
  51% {-moz-transform: rotate(-270deg);}
  75% {-moz-transform: rotate(-270deg);}
  76% {-moz-transform: rotate(-360deg);}
  100% {-moz-transform: rotate(-360deg);}

/* -O Syntax */
  0% {-o-transform: rotate(0deg);}
  1% {-o-transform: rotate(-90deg);}
  25% {-o-transform: rotate(-90deg);}
  26% {-o-transform: rotate(-180deg);}
  50% {-o-transform: rotate(-180deg);}
  51% {-o-transform: rotate(-270deg);}
  75% {-o-transform: rotate(-270deg);}
  76% {-o-transform: rotate(-360deg);}
  100% {-o-transform: rotate(-360deg);}

/* Regular Syntax */
  0% {transform: rotate(0deg);}
  1% {transform: rotate(-90deg);}
  25% {transform: rotate(-90deg);}
  26% {transform: rotate(-180deg);}
  50% {transform: rotate(-180deg);}
  51% {transform: rotate(-270deg);}
  75% {transform: rotate(-270deg);}
  76% {transform: rotate(-360deg);}
  100% {transform: rotate(-360deg);}
}
