@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

}

html,
body,
#home, #work, #about, #contact,
.nav-wrapper  {
  width: 100%;
  border-image-width: 0;
}

a {
  text-decoration:none;
}

img {
  display: block;
  width: 100%;
}

/* -------- Header --------- */

.logo {
  width: 40px;
}

#toggle-nav span,
#toggle-nav span:before,
#toggle-nav span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background-color: rgba(253, 195, 111, 1);
  position: absolute;
  display: block;
  content: '';

  transition: all 250ms ease-in-out;

}

#toggle-nav span:before {
  top: -10px;
}
#toggle-nav span:after {
  bottom: -10px;
}

#toggle-nav.active span {
  background-color: transparent;
}

#toggle-nav.active span:before,
#toggle-nav.active span:after {
  top: 0;
}

#toggle-nav.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform:rotate(45deg);
}

#toggle-nav.active span:after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform:rotate(-45deg);
}

.hb-toggle {
  margin-right: 2em;
  transition: all 250ms ease-in-out;
}

.hb-toggle.active {
  margin-right: 10em;
}

@media only screen and (min-width: 480px) {
  .hb-toggle.active {
    margin-right: 15em;
  }
}

/* --------- Sticky Navigation ----- */

.top-nav {
  padding: .65em 2em;
  position: fixed;
  z-index: 10000;
  background-color: rgba(17,17,17,0.9);
  transition: all 250ms linear;
}

.top-nav li:last-child {
  position: fixed;
  right: 2em;
}



@media all and (min-width: 600px) {

  .top-nav{
    background-color: transparent;
  }

  .sticky-nav {
    display:block;
    background-color:rgba(17,17,17,0.9);
    transition: all 250ms linear;
  }

}

/* --------- Side Navigation ----- */

.side-nav {
  position: fixed;
  visibility: hidden;
  background-color: rgba(17, 17, 17, .6);
  width: 100%;
  height: 100%;
  right: -20em;
  z-index: 999;
  opacity: 0;

  transition: all 250ms linear;
}

.side-nav[data-state="active"] {
  opacity: 1;
  right: 0em;
  visibility: visible;
}

.sn-container {
  width: 15em;
  height: 100%;
  position:fixed;
  display: block;
  padding: 4em 3em;
  background-color: #111111;
  right: 0;
}

.sn-container li {
  margin-bottom: .5em;
}

.sn-container a {
  text-decoration: none;
  color: #ffffff;
  transition: all 250ms linear;
}

.sn-container a:hover,
.sn-container a:focus,
.sn-container a:active {
  opacity: 0.6;
  border-bottom: 2px solid #ffffff;
}

@media only screen and (min-width: 480px) {
    .sn-container {
      width: 20em;
    }
}


/* ----- Landing Section -------- */

.landing-section {
  background: transparent url(../assets/images/shot3-BW.jpg) no-repeat center top;
  background-size: cover;
  padding:7em 2em;
  text-align: center;
}

.landing-section li {
  color: #fdc36f;
}

.ls-row {
  margin-top: 5em;
}

.ls-row:first-child {
  margin-top: 0;
}

.letter {
  font-size: 2.2500rem;
}

@media only screen and (min-width: 640px) {
  .letter {
  font-size:3.3750rem;
  }
}

@media only screen and (min-width: 960px) {
  .letter {
  font-size: 5.0625rem;
  }
}

@media only screen and (min-width: 1440px) {
  .letter {
  font-size: 7.5938rem;
  }
}

/* Work Section */

#content {
  width: 100%;
}

.item {
  display: block;
  float: left;
  width:50%;
  margin: 0;
  overflow: hidden;
  text-transform: uppercase;
}

.x-small {
  height: 180px;
  background-color:#999999;
}

.small {
  height:180px;
  background-color:#cacaca;
}

.medium {
  height: 360px;
  background-color:#333333;
}

.large {
  height: 540px;
  background-color:#777777;
}

.item-1 {
  background: url(../assets/images/coffee-table-book.jpg) no-repeat center center;
  background-size: cover;
}

.item-2 {
  background: url(../assets/images/Ready,-Set,-Shop.png) no-repeat top center;
  background-size: cover;
}

.item-3 {
  background: url(../assets/images/steez-presentation.jpg) no-repeat top center;
  background-size: cover;
}

.item-4 {
  background: url(../assets/images/Ready,-Set,-Shop.png) no-repeat bottom center;
  background-size: cover;
}

.item-5 {
  background: url(../assets/images/behance-presentation-jericks-website.jpg) no-repeat top center;
  background-size: cover;
}

.item-6 {
  background: url(../assets/images/hannya-ph.jpg) no-repeat center center;
  background-size: cover;
}

.item-7 {
  background: url(../assets/images/shot4.jpg) no-repeat center center;
  background-size: cover;
}

.x-small,
.small,
.medium,
.large {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  transition: all 250ms linear;
}

.x-small:hover,
.small:hover,
.medium:hover,
.large:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter:none; /* IE 6-9 */
}

.desc-box {
  width:75%;
  height: 70%;
  background-color: rgba(255, 255, 255, .7);
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  transition:all 250ms linear;
}

.desc-box p {
  font-size: 1.5em;
}

.bottom-left {
  padding: .5em 8% 0 10%;
  left:-75%;
  top: 30%;
  text-align: right;
}

.top-right {
  padding: .5em 2% 0 8%;
  right:-75%;
  top: 40;
  text-align: left;
}

.mid-left {
  top: 20%;
  left: -75%;
  padding: .5em 8% 0 10%;
  text-align: right;
}

.mid-right {
  top: 20%;
  right: -75%;
  padding: .5em 8% 0 8%;
  text-align: left;
}

.bottom-left p,
.top-right p,
.mid-left p,
.mid-right p {
  font-weight: 500;
  color: #333333;
  word-break: normal;
}

.item:hover .bottom-left {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.item:hover .top-right {
  visibility: visible;
  opacity: 1;
  right: 0;
}

.item:hover .mid-left {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.item:hover .mid-right {
  visibility: visible;
  opacity: 1;
  right: 0;
}



.rm a {
  color: #333333;
}

.rm a:hover,
.rm a:focus {
  opacity: .6;
}

.bottom-left .rm,
.top-right .rm,
.mid-left .rm,
.mid-right .rm {
  display: block;
  position: absolute;
  bottom: 8%;
}

.mid-left .rm,
.bottom-left .rm {
  right: 10%;
}

.top-right .rm {
  left: 10%;
}

@media only screen and (min-width: 640px) {

  .desc-box p {
  font-size: 1.4000rem;
  }

  .desc-box {
    height: 60%;
  }

  .bottom-left {
    top: 40%;
  }

  .top-right {
    top: 40%;
  }
}

@media only screen and (min-width: 720px) {

  .item {
    width:33.3333%;
  }

    .bottom-left {
    padding:  4% 8% 0 10%;
  }

  .top-right {
    padding: 4% 2% 0 8%;
  }

  .mid-left {
    padding:  4% 8% 0 10%;
  }

  .mid-right {
    padding: 4% 8% 0 8%;
  }

}

@media only screen and (min-width: 900px) {

  .desc-box p {
  font-size: 2.5rem;
  line-height: 1;
  }

  .x-small {
  height: 270px;
}

  .small {
    height: 360px;
  }


  .medium {
    height: 540px;
  }

  .large {
    height: 720px;
  }

  .bottom-left {
    padding:  8% 8% 0 10%;
  }

  .top-right {
    padding: 8% 2% 0 8%;
  }

  .mid-left {
    padding:  8% 8% 0 10%;
  }

  .mid-right {
    padding: 8% 8% 0 8%;
  }
}

@media only screen and (min-width: 1320px) {

  .desc-box p {
    font-size: 3rem;
    line-height: .95;
  }

}

@media only screen and (min-width: 1440px) {

  .desc-box p {
    line-height: .9;
  }

  .item {
    width:25%;
  }

  .x-small {
    height: 360px;
}

  .small {
    height: 360px;
  }

  .medium {
    height:560px;
  }

  .large {
    height: 920px;
  }
}

@media only screen and (min-width: 1725px) {

   .desc-box p {
    font-size: 3.4em;
   }

}

@media only screen and (min-width: 2000px) {

   .desc-box p {
    font-size: 3.8em;
    line-height: .85;
   }

  .bottom-left {
    padding:  5% 8% 0 10%;
  }

  .top-right {
    padding: 5% 2% 0 8%;
  }

  .mid-left {
    padding:  5% 8% 0 10%;
  }

  .mid-right {
    padding: 5% 0 0 8%;
  }
}

/* ---------- About Section --------------- */

#about {
  background: url(../assets/images/shot3.jpg) no-repeat center center;
  background-size: cover;
}

.unit-xs-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.about-content {
  background-color: rgba(17,17,17,.97);
  padding: 3.5rem 2rem;
  vertical-align: middle;
}

.emphasize {
  text-transform: uppercase;
  font-weight: 900;
  color: #fdc36f;
}

.about-content h2 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: .5em;
}

.about-h2-container {
  border-right: 5px solid #fdc36f;
}

.about-h2-wrapper {
  margin-bottom: 3em;
}

.about-content h5 {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 16px;
}

.about__wrapper {
  display: block;
  margin-left: -60em;
  width: 100%;
  opacity: 0;
  transition: all 1s linear;
}

.about__show {
  margin-left: 0;
  opacity: 1;
}

.about__content {
  overflow: hidden;
  }


@media only screen and (min-width: 500px) {
  .xs-8-11 {
    width: 72.7273%;
  }
}

@media only screen and (min-width: 745px) {
  .about-content {
    padding: 3rem 10%;
  }

  .xs-7-11 {
    width: 63.6364%;
  }
}

@media only screen and (min-width: 900px) {
  .about-content {
    padding: 3rem 12%;
  }
}

@media only screen and (min-width: 935px) {
  .about-content {
    padding: 3rem 14%;
  }
}

@media only screen and (min-width: 980px) {
  .about-content {
    padding: 3rem 14%;
  }
}

@media only screen and (min-width: 1000px) {
 .about-content {
    padding-right:18%;
    padding-left: 18%;
  }
}

@media only screen and (min-width: 1100px) {
 .about-content {
    padding-right:20%;
    padding-left: 20%;
  }
}


@media only screen and (min-width: 1255px) {

  .about-content {
    padding: 6rem 14%;
  }

  .about-h2-container {
    border-right:none;
  }

  .about-h2-wrapper {
    border-right: 5px solid #fdc36f;
    margin-bottom: 3em;
  }

  .about__content {
    padding: 0 0 0 3.5em;
  }

  .xs-8-11 {
    width:0;
  }

  .about-h2-wrapper {
    margin-bottom: 0;
  }

  .unit-xs-1-3 {
    width: 33.3333%;
  }

  .unit-xs-2-3 {
    width: 66.6667%;
  }
}

@media only screen and (min-width: 1333px) {
  .about-content {
    padding: 6rem 12%;
  }
}

@media only screen and (min-width: 1500px) {
  .about-content {
    padding: 6em 13%;
  }
}


@media only screen and (min-width: 1580px) {
  .about-content {
    padding: 6em 17%;
  }

  .about-content h2 {
    margin-right: 70px;
  }
}

@media only screen and (min-width: 1700px) {
  .about-content {
    padding: 6em 19%;
  }
}

@media only screen and (min-width: 1900px) {
  .about-content {
   padding: 8em 20%
  }
}

@media only screen and (min-width: 1975px) {
  .about-content {
    padding: 10em 22%;
  }
}


@media only screen and (min-width: 2000px) {
  .about-content {
    padding:10em 24%;
  }
}

@media only screen and (min-width: 2200px) {
  .about-content {
    padding:10em 24%;
  }
}



/* ----------- Contact Section ------------ */

.contact-section-wrapper {
  background-color: #222222;
}

.contact-section-container {
  padding: 3.5em 2em;
}

.cta-wrapper {
  margin-bottom: 1.5rem;
  padding-right: 4em;

}

.contact-cta-email {
  border-right: 5px solid #fdc36f;
}

.cta-container h2 {
  text-transform: uppercase;
  font-size: 6.5em;
  line-height: .9em;
  letter-spacing: -1px;
  color: #ffffff;

}

.email-container {
  margin:6em 0 3em 0;
  display: block;
  text-align: right;
}

.email-container a {
  font-size: 2em;
  letter-spacing: 1.5px;
  color:rgba(253,195,111,1);
  margin-right: .5em;

  transition: all 250ms linear;
}

.email-container a:hover,
.email-container a:focus {
  opacity: .6;
}

.sn-wrapper li {
  display: inline-block;
  margin-right: 40px;
}

.sn-wrapper a {
  color: #aaaaaa;

  transition: all 100ms linear;
}

.sn-wrapper a:hover,
.sn-wrapper a:focus {
  color: rgba(253,195,111,1);
}

@media only screen and (min-width: 480px) {
  .cta-container h2 {
  letter-spacing: .2em  }

}

@media only screen and (min-width: 770px) {
  .cta-container h2 {
  letter-spacing: .4em  }

}



@media only screen and (min-width: 520px) {
  .cta-container h2 {
  font-size: 7.5em;
  line-height: .9em;
  }

}

@media only screen and (min-width: 850px) {
  .cta-container h2 {
  line-height: 1em;
  letter-spacing: .4em;
  }

  .contact-section-container {
    padding: 4em 4em 0;
  }

}
@media only screen and (min-width: 1045px) {
  .contact-section-container {
    padding: 6em 8em 3em;
  }

}

/* ------------ Footer Section --------------- */

.footer {
  background-color: #222222;
  padding: .5em 5%;
}

.footer p {
  color: #cacaca;
}
