.work-item-click-1,
.work-item-click-2,
.work-item-click-3,
.work-item-click-4,
.work-item-click-5,
.work-item-click-6,
.work-item-click-7 {
	width: 100%;
	height: 100%;
	background-color:rgba(17, 17, 17,.90);
	display: block;
	position: fixed;
	top: 0;
	z-index: 9999999;
	visibility: hidden;
	opacity: 0;

	transition: all 250ms linear;
}

.work-item-click-1[data-state="active"],
.work-item-click-2[data-state="active"],
.work-item-click-3[data-state="active"],
.work-item-click-4[data-state="active"],
.work-item-click-5[data-state="active"],
.work-item-click-6[data-state="active"],
.work-item-click-7[data-state="active"] {
	visibility: visible;
	opacity: 1;
}

.item-desc {
	padding: 1em;
	display: block;
}

.item-desc h4 {
	margin-bottom: 2rem;
	margin-right: 20%;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 600;
	color: #222222;
	border-right: 5px solid rgba(253,195,111,1);
}

.item-desc p{
	font-size: 16px;
	color: #333333;
	line-height: 1.2em;
	margin-bottom: 1em;
}

.item-images iframe {
	height: 281px;
}

@media only screen and (min-width: 530px) {
	.item-images iframe {
		height: 320px;
	}
}

@media only screen and (min-width: 590px) {
	.item-images iframe {
		height: 350px;
	}

	.item-desc h4 {
		margin-right: 25%;
	}
}


@media only screen and (min-width: 647px) {
	.item-images iframe {
		height: 250px;
	}

	.item-desc-fixed {
		position: fixed;
		top:3.5em;
		width: 29.000%;
	}

}

@media only screen and (min-width: 720px) {

	.item-desc h4 {
		margin-right: 12%;
	}
	.item-desc p {
		margin-right: 9%;
	}

	.item-desc {
		float: left;
		width:33.3333%;
	}

	.item-images {
		width: 66.6667%;
		float: left;
	}

}

@media only screen and (min-width: 760px) {
	.item-images iframe {
		height: 600px;
	}
}

@media only screen and (min-width: 850px) {
	.item-images iframe {
		height: 450px;
	}
}

@media only screen and (min-width: 950px) {
	.item-images iframe {
		height: 400px;
	}
}

@media only screen and (min-width: 950px) {
	.item-images iframe {
		height: 500px;
	}
}


.work-item-container-1,
.work-item-container-2,
.work-item-container-3,
.work-item-container-4,
.work-item-container-5,
.work-item-container-6,
.work-item-container-7 {
	background-color:#ffffff;
	display: block;
	position: fixed;
	top: 2em;
	right: 2em;
	bottom: 2em;
	left: 2em;
	overflow-y: scroll;
}


.noscroll {
	overflow: hidden;
}

@media only screen and (min-width: 1440px) {
	.work-item-container-1,
	.work-item-container-2,
	.work-item-container-3,
	.work-item-container-4,
	.work-item-container-5,
	.work-item-container-6,
	.work-item-container-7 {
		right: 15%;
		left: 15%;
	}

	.item-desc-fixed {
		width: 21.000%;
	}


}
